.container {
    background: #FFFFFF;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.rectangle {
    height: 200px;
    background: #F0FAF7;
}

.title {
    margin: 120px auto auto;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
}

.text {
    width: 40%;
    margin: 25px auto auto;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
}

.image {
    margin: 25px auto auto;
}

.subtitle {
    margin: 50px auto auto;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
}

.subtitle_text {
    margin: 20px auto auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.cards_wrapper {
    width: 55%;
    margin: 50px auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wave_images_wrapper {
    margin: 80px auto auto;
    display: flex;
    overflow: hidden;
}

.wave_image {
    display: block;
    position: relative;
    width: 100vw;
    top: 2px;
}
