.container {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 55px;
    line-height: 60px;
}

.text {
    margin: 4vh auto 4vh 0;
    width: 80%;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.black {
    color: #000000;
}

.white {
    color: #FFFFFF;
}

.beige {
    color: #C47B59;
}

.light {
    color: #F6F9E5;
}
