.container {
    background: url('../../assets/Intro/bg.png') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.IntroContent {
    width: 20vw;
    margin: 13vh auto auto 10vw;

}
